@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  box-sizing: border-box;
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.featured-product-item{
}

/* .featured-product-showcase::-webkit-scrollbar-thumb{
    width: 10px;
} */

/* width */
.featured-product-showcase::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .featured-product-showcase::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  .featured-product-showcase::-webkit-scrollbar-thumb {
    background: rgba(63, 61, 61, 0.269);
    border-radius: 10px;
    widows: 10px;
  }

  body{
    overflow-x: visible;
  }




  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */


::-webkit-resizer {
  border: 2px solid rgb(116, 116, 116);
  background: rgb(91, 91, 91)(161, 161, 161);
  /* box-shadow: 0 0 5px 5px rgb(98, 98, 98); */
  outline: 2px solid rgb(105, 105, 105);
  margin-right: 3px;
  display: block;
}